.main__container{
    position:relative;
    top:0;
}

.main_img{
    position: absolute;
    top: 0;
}

.main__contents{
    position: absolute;
    top:30%;
    right: 14%;
}

.main__contents span{
    border-bottom: 3px solid yellow;
}

