.header{
    width: 100%;
    height: 5rem;
    top: 0;
    left: 0;
    position:fixed;
    z-index: 20;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.headerbg{
    background-color:var(--color-font-h2)
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__container-navWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



