
.courses__container{
    background-color: var(--color-bg-variant);
    position: relative;
}

.courses__container::after{
    height: 12rem;
    width: 4rem;
    background-color: red;
    position: absolute;
    z-index: 5;
}

.courses__container h5{
    color: black;
    text-align: center;
}

.courses__cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:15px; 
    padding: 5px;
}

.course__card{
    height:450px;
    min-height: 300px;
    background-color:white;
    padding: 15px;
    border-radius: 10px;
    border: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: var(--transition);

}

.course__card:hover{
    box-shadow: 8px 8px 0px rgba(0,0,0,0.6);
}

.course__card p{
    margin: 0;
    padding: 0;
}

.course__card h5{
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
}
.course__linkImg{
    height: 50%;
    width: 100%;
    border-radius: inherit;
}

.course__links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}