.learners__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    align-items: flex-start;
}

.learners__container h2{
    text-align: left;
}

.learners__container h5{
    margin: 1.5rem 0;
    font-weight: 600;
    color:var(--color-font-h2);
}